
@charset "utf-8";
.welcome-box {
    height: 750px;
    margin: 0 0 20px 60px;
}
.mark {
    padding: 150px 0 0 80px;
    width: 556px;
}
.welcome-right {
    float: right;
}
.welcome-rdown {
    padding-top: 6px;
}
.mark a {
    color: #FFFFFF;
    font: bold 14px/146px "微软雅黑";
}
.mark a:hover {
    color: #FFFFFF;
    font: bold 18px/146px "微软雅黑";
}
.welcome-left a {
    background: url(/images/icons/w-write.png) repeat scroll 0 0 #5990CB;
    display: block;
    float: left;
    height: 227px;
    line-height: 400px;
    padding-left: 15px;
    width: 203px;
}
.welcome-left a:hover {
    line-height: 400px;
}
.welcome-rtop a {
    background: url("/images/icons/w-images.png") repeat scroll 0 0 #21BDC6;
    display: block;
    height: 96px;
    padding-left: 15px;
    width: 317px;
}
.welcome-rdown-left a {
    background: url("/images/icons/w-comment.png") repeat scroll 0 0 #5AC4BD;
    display: block;
    float: left;
    height: 125px;
    line-height: 200px;
    padding-left: 15px;
    width: 148px;
}
.welcome-rdown-left a:hover, .welcome-rdown-right a:hover {
    line-height: 200px;
}
.welcome-rdown-right a {
    background: url("/images/icons/w-manage.png") repeat scroll 0 0 #81D2E2;
    display: block;
    float: right;
    height: 125px;
    line-height: 200px;
    padding-left: 15px;
    width: 148px;
}
.wel_title {
    font: bold 30px/24px "微软雅黑";
    margin-top: 3px;
}
.wel_title_content {
    font: bold 12px/20px "微软雅黑";
}
